{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
<h2 id="why-raspberry-pi">What is a Raspberry Pi?</h2>
<div class="pull-right thumb-with-caption"><img src="img/rpi.jpg" class = "pull-right img-rounded" width="250" alt="">
    <p><small>Raspberry Pi: small but powerful!</small></p></div>
<p>The <a href="http://www.raspberrypi.org/">Raspberry Pi</a> is a credit-card sized computer developed to promote teaching of computer science in schools.  Since its launch in 2012, over 2 million of these amazing little machines have been sold all over the world.  It also includes an interface for talking to external analog/digital electronics, so it also makes a great platform for DIY projects.</p>

<p>The Raspberry Pi comes with the Scratch and Python programming languages already installed, so it's ready to go out of the box - just plug in a monitor and keyboard/mouse!</p>

<p>Here are just a few examples of projects kids can make with a Pi: </p>
<div class="pull-right thumb-with-caption"><img src="img/cobbler.jpg" class="pull-right img-rounded" width="250" alt="">
<p><small>Example: electronics prototyping</small></p></div>

<ul>
<li>Programming</li>
<li>Web development</li>
<li>Electronics</li>
<li>Robotics</li>
<li>Automation/Sensing</li>
</ul>

<h2 id="why-raspberry-pi">How do we use the Raspberry Pi?</h2>
<p>At KidsCanCode, we have built on the educational foundations of the Raspberry Pi to create a customized learning environment.  But it's not just
    about learning - it's about putting the tools into the hands of kids and enabling them to take the next step.<br>
Our Raspberry Pi Kits have everything you need to get started:
<div class="pull-right thumb-with-caption"><img src="img/rpi-case-clear.jpg" class="pull-right img-rounded" width="250" alt="">
<p><small>Raspberry Pi kit</small></p></div>
<div class="pull-right thumb-with-caption"><a href="img/RaspiModelB-1024x902.png" target="_blank"><img src="img/RaspiModelB-1024x902.png" class="pull-right img-rounded" width="250" alt=""></a>
<p><small>Raspberry Pi diagram (click to zoom)</small></p></div>
<ul>
    <li>Raspberry Pi (Model B)</li>
    <ul>
            <li>700 MHz ARM1176JZF-S CPU</li>
            <li>512Mb RAM</li>
            <li>2 USB ports</li>
            <li>HDMI and Composite Video (up to 1080p video)</li>
            <li>Linux "Raspbian" Operating System</li>
            <li>26-pin GPIO (General Purpose Input/Output) connector for expansion and experimentation</li>
    </ul>
    <li>8 Gb SD card</li>
        <ul>
            <li>preloaded with class content, code, and help files</li>
        </ul>
    <li>Power cable</li>
        <ul>
            <li>AC Adapter with Micro-USB connector</li>
        </ul>
    <li>A transparent case to hold the Pi</li>
</ul>
</p>

    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}
