{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
       <h2 id="about-us">About Us</h2>
<img class="pull-right img-polaroid" src="img/family-dc.jpg" alt="" width="300">
<p>KidsCanCode.org was created in 2013 by Chris and Priya Bradfield.  Being the parents of two girls, we are very aware of what does and does not work in today's K-12 educational programs.  With the continued struggle for public funding, we've seen how hard it is to expose children to any curriculum outside of the standardized testing requirements.  We think that's a problem, especially when it comes to preparing the next generation of scientific and technology professionals.</p>

<p>Our goal is simply to teach children to code.  We believe that a basic understanding of software engineering provides a set of fundamental skills that is vital, both to the child's future and the future of the global economy.  It's not just about STEM (Science, Technology, Engineering, and Math), but also about liberal arts: being able to think critically about problems is the first step to finding solutions.  An early introduction to computer science is an investment in the future.</p>

<h3>Chris Bradfield</h3>
<p>Chris has been working in the Internet technology space for over 20 years.  He helped create the first record label website and first digital music download in 1994, and built many web and intranet sites for entertainment companies.  Since 2004, he has worked in the online gaming space for a number of successful MMO and social gaming publishers.  In his game industry career he has served as a game designer, developer, product manager, and business development executive.  He is a strong believer in the power of the Internet and open source movement to empower people</p>

<h3>Priya Bradfield</h3>
<p>Priya has always been active in service and leadership.  She founded a local chapter of Mom's Club, which she led for XX years.  She has been a tireless leader for the PTA, building a strong working relationship between teachers, staff, and parents over multiple years as President.  She has established a record of successful education and fundraising projects. She is also a dedicated Girl Scout troop leader.</p>
<hr />
<h4 id="coding-classes-for-girls">Coding Classes for Girls</h4>

<p>Girls are particularly underserved when it comes to computer science education.  While women earn 57% of all undergraduate degrees, they earn only 18% of those issued in computer and information sciences (<small>Source: <a href="http://www.todaysengineer.org/2013/Mar/gender-diversity.asp">IEEE</a></small>).  Why does this matter?  Computing and information technology are among the fastest growing US industries, yet by 2018, US universities will produce only 52% of the degrees needed to fill 1.4 million available jobs (<small>Source: <a href="http://www.bls.gov/ooh/About/Projections-Overview.htm#totaljobopenings">Bureau of Labor Statistics</a></small>).</p>

<p>We feature special "girls only" classes, helping to remove the social pressure of gender competition.  We welcome contributions from professional women in the industry to speak directly to the challenges and benefits of working in technology.  We also work directly with organizations like Girl Scouts to reach out to girls in the community.</p>

    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}