{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
       <h2 id="about-us">About Us</h2>
<img class="pull-right img-polaroid" src="img/family-dc.jpg" alt="" width="300">
<p>KidsCanCode.org was created in 2013 by Chris and Priya Bradfield.  Being the parents of two girls, we are very aware of what does and does not work in today's K-12 educational programs.  With the continued struggle for public funding, we've seen how hard it is to expose children to any curriculum outside of the standardized testing requirements.  We think that's a problem, especially when it comes to preparing the next generation of scientific and technology professionals.</p>

<p>Our goal is simply to teach children to code.  We believe that a basic understanding of software engineering provides a set of fundamental skills that is vital, both to the child's future and the future of the global economy.  It's not just about STEM (Science, Technology, Engineering, and Math), but also about liberal arts: being able to think critically about problems is the first step to finding solutions.  An early introduction to computer science is an investment in the future.</p>

<h4>Chris Bradfield</h4>
<p>Chris has been working in the Internet technology space for over 20 years.  He helped create the first record label website and first digital music download in 1994.  After that he built web and intranet sites for entertainment companies, and designed large scale email and web systems for corporate clients.  Since 2004, he has worked in the online gaming space for a number of successful MMO and social gaming publishers.  In his game industry career he has served as a game designer, developer, product manager, and business development executive.</p>
<p>He has always enjoyed working with children and technology.  Highlights include coaching a Girl Scout robotics team (great fun) and volunteer teaching at his local elementary school's computer lab.</p>

<h4>Priya Bradfield</h4>
<p>Priya's main focus for the last 13 years has been in education and service.  Soon after the birth of their first child, Priya founded a local chapter of MOMS Club, a service organization dedicated to supporting moms in the Sherman Oaks area, which she ran for 3 years. Once the kids entered elementary school, Priya got involved heavily in education issues. She restarted a PTA chapter at her daughters' elementary school, building a strong collaborative relationship between staff, teachers, and parents over multiple years as President. She has a successful record of education and fundraising projects. She is currently President of the Valley Gateway PTA Council which oversees 10-15 local PTA chapters in Studio City and Sherman Oaks.  Priya also heads her local School Site Council and is a dedicated Girl Scout troop leader.  Her passions lie in expanding the minds and opportunities for all children.</p>
<hr />
<h3>Special Programs</h3>
<h4>Coding Classes for Girls</h4>

<p>Girls are particularly underserved when it comes to computer science education.  While women earn 57% of all undergraduate degrees, they earn only 18% of those issued in computer and information sciences (<small>Source: <a href="http://www.todaysengineer.org/2013/Mar/gender-diversity.asp">IEEE</a></small>).  Why does this matter?  Computing and information technology are among the fastest growing US industries, yet by 2018, US universities will produce only 52% of the degrees needed to fill 1.4 million available jobs (<small>Source: <a href="http://www.bls.gov/ooh/About/Projections-Overview.htm#totaljobopenings">Bureau of Labor Statistics</a></small>).  Women can fill that gap, but only by encouraging an interest in computer science at an early age.</p>

<p>We plan to offer special "girls only" classes, helping to remove the social pressure of gender competition.  We welcome contributions from professional women in the industry to speak directly to the challenges and benefits of working in technology.  We also work directly with organizations like Girl Scouts to reach out to girls in the community.</p>
<h4>Corporate Sponsorship</h4>
<p>We are actively seeking corporate partners to help sponsor in- and after-school programs in underserved neighborhoods.  It is with these children, who may not have access to a computer at home or at school, that our program can have the greatest effect.  We would like to see a Raspberry Pi in the hands of every middle school student.</p>
<p>If you or your company would like to discuss how to make this happen, please <a href="contact.html">contact us</a>.</p>


    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}