{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10 class-list">
        <h1>Design and Build Camp 2016</h1>
        <!-- <div class="alert alert-success"><p class="lead">
         <i class="icon-time icon-large"></i> <strong>Millikan Parents: </strong> Click <a href="/millikan">here</a> to sign up for after school classes.<br></p>
        </div> -->
        <p>New for Summer 2016, KidsCanCode's Design and Build Camp introduces young innovators to the technology and
            skills they need to bring their own amazing inventions to life.  Learn important engineering and design
            techniques while working on a variety of exciting projects.</p>
        <p>Each camp session is an intensive half-day program.  Sign up for one, or take both for a full day of learning!</p>
        <p><b>NOTE:</b> Students may stay after the end of class until 5pm for an additional $150 for the week. These sessions will
            allow young makers to continue working on their projects with the tools they have learned, while still being
            supervised. Please contact us for details.</p>
            <h4>Schedule:</h4>
            <em><a href="/summer">Click here</a> for the full summer schedule.</em><br>
            <table class="table table-hover">
                <tr>
                    <th>Class Name</th>
                    <th>Ages</th>
                    <th>Dates</th>
                    <th>Time</th>
                </tr>
                <tr>
                    <td><a href="/buildcamp">Design and Build Camp: 3D Printing</a></td>
                    <td>12+ (Beginner)</td>
                    <td>July 11 - July 15</td>
                    <td>9:30am - 12pm</td>
                </tr>
                <tr>
                    <td><a href="/buildcamp">Design and Build Camp: Electronics</a></i></td>
                    <td>12+ (Beginner)</td>
                    <td>July 11 - July 15</td>
                    <td>1pm - 3:30pm</td>
                </tr>
                <tr>
                    <td><a href="/buildcamp">Design and Build Camp: Electronics</a></i></td>
                    <td>12+ (Beginner)</td>
                    <td>July 18 - July 22</td>
                    <td>9:30am - 12pm</td>
                </tr>
                <tr>
                    <td><a href="/buildcamp">Design and Build Camp: 3D Printing</a></td>
                    <td>12+ (Beginner)</td>
                    <td>July 18 - July 22</td>
                    <td>1pm - 3:30pm</td>
                </tr>
        </table>
        <h2>Class Descriptions <a href="javascript:void( window.open('https://form.jotform.com/60518500424951', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))"><span class="btn btn-success btn-2x">Sign Up Now!</span></a> </h2><br>
        <center><i class="fa fa-hourglass-half"></i> <em>Class size is limited and is on a first-come, first-served basis,
            so act fast before the class is full!</em></center><br>

        <dl class="dl-horizontal">
            <a name="3dPrinting"></a>
            <dt><strong>3D Printing<br><span class="badge badge-success">Beginner (11+)</span>
            </dt>
            <dd><p>3D printers are awesome!  Learn all about this exciting new technology in a hands on course.  Students
                will learn how to use popular modeling software to create 3D objects and then print them on our
                3D printers to take home.  Students will create several
                different models throughout the week.<br>
            <br>What you'll learn:
            <ul>
                <li>How a 3D printer works</li>
                <li>Build it in Minecraft, print it in the real world!</li>
                <li>Computer Aided Design (CAD) and 3D Modeling</li>
                <li>Fundamentals of 3D design/engineering</li>
            </ul>
            <!-- <img src="img/rpi.jpg" class="img-rounded" width="250" alt=""><br>-->
            <img src="/img/MCprinted1.jpg" class="img-rounded" width="300" alt=""> <img src="/img/MCprinted2.jpg" class="img-rounded" width="300" alt=""><br><br>
            <strong>Requirements:</strong> <em>No previous experience is required.</em><br>
            <strong>Tuition: </strong> $295 + $50 materials fee<br>
            </p>
            <hr>
            </dd>
           <a name="Electronics"></a>
            <dt>Electronics and <br>Arduino<br><span class="badge badge-success">Beginner (11+)</span>
            </dt>
            <dd>
                In this class, we will cover basic concepts related to electricity, circuits, electronic measurement and
                microcontrollers. Using the popular Arduino platform, students will learn how to build devices with lights,
                sensors, motors and more.  All students receive an Arduino Starter Kit, which will be used for all class activities,
                which they can take home at the end of the session!<br><br>
            <br>What you'll learn:
            <ul>
                <li>Basics of Electrical Engineering</li>
                <li>How to build circuits</li>
                <li>Using a multimeter to measure voltage and current</li>
                <li>Arduino hardware/software</li>
                <li>Microcontroller programming</li>
            </ul>
            <img src="/img/Arduino316.jpg" class="img-rounded" width="300" alt=""> <img src="/img/arduinoKit.jpg" class="img-rounded" width="300" alt=""><br><br>
            <strong>Requirements:</strong> <em>No previous experience is required.</em><br>
            <strong>Tuition: </strong> $295 + $100 materials fee<br>
        </dl>

    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}
