{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
        <h2>Overview</h2>
        <p>At KidsCanCode we make computers fun!  By looking "under the hood,", kids learn that a computer is a powerful tool - one they can use to create amazing projects of their own.  Imagine building your own website, creating a video game, or wow-ing your teacher with an amazing science project.  Our classes lay the foundation for a positive relationship with technology.</p>
        <p>All classes are available for ages 10-14. </p>
        <h2>Classes</h2>
        <dl class="dl-horizontal">
            <dt>Introduction to<br>Programming</dt>
            <dd><p>This is our core program, introducing the idea of a programming language and what it means to tell a computer what to do.  We'll cover basic interaction with the Python console using statements to manipulate numbers and text.  Next, we'll move on to Turtles - creating our own graphics and introducing loops and functions.<br>
            Finally, we'll conclude with covering the workings of the Raspberry Pi - how to set it up at home, and what can be done with it next.  Then, on the last day of class, each child will receive her own Pi kit to take home!<br>
            <strong>Requirements:</strong> <em>No previous experience is required.</em><br>
            <strong>Full outline:</strong> <a href="#"><span class="badge badge-success">Click here</span></a></p>
            </dd>
            <dt>Intermediate<br>Programming</dt>
            <dd><p>Are you ready for the next level?  We take what kids learned in "Introduction to Programming" and build on it.  We introduce the concept of objects and use that to create our very first game!  Using the <a href="http://pygame.org/">Pygame framework</a> we'll build a game from beginning to end.  Then each child will be encouraged to get creative by modifying the game we've created into something uniquely their own.<br>
            <strong>Requirements:</strong> <em>"Introduction to Programming" or equivalent experience.</em><br>
            <strong>Full outline:</strong> <span class="badge badge-success">Coming soon</span></p>
            </dd>
            <dt>Getting Started<br>with Raspberry Pi</dt>
            <dd><p>So you have a Raspberry Pi - now what?<br>
            <strong>Requirements:</strong> <em>No previous experience is required.</em><br>
            <strong>Full outline:</strong> <span class="badge badge-success">Coming soon</span></p>
            </dd>
            <dt>Programming with<br> Minecraft</dt>
            <dd><p>Minecraft is one of the hottest games on the market - and best of all, it's all about creativity.  Whether you're a complete newbie or a Minecrafting expert, this class will have something for you.  Using the special educational <a href="http://pi.minecraft.net/">Minecraft: Pi Edition</a>, you'll learn how to control your Minecraft world through code!<br>
            Learn how to:
            <ul>
                <li>Create complex structures in only a few lines of code</li>
                <li>Build objects that move!</li>
                <li>Import 3d models from the web</li>
            </ul>
            <img src="img/mc_pi-clock.jpg" alt=""><br>
            <strong>Requirements:</strong> <em>None</em><br>
            <strong>Full outline:</strong> <span class="badge badge-success">Coming soon</span></p>
            </dd>
        </dl>
        <h2>Course Material</h2>
        <p>All of our course material, including class handouts and code examples, is available for download from our <a href="http://github.com/kidscancode">Github site</a>.</p>
        <h2>Schedule</h2>
        <p><span class="badge badge-success">Coming soon!</span><p>

    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}