{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">

<h2 id="terms-and-conditions">Terms and Conditions</h2>

<h3 id="registration-and-payment">Registration and Payment</h3>

<ul>
<li>Classes may be cancelled if enrollment minimums are not met.  If you are unable to reschedule to a different session, we will refund your registration.</li>
<li>To pay via Check or Money Order, please <a href="contact.html">contact us</a> directly.</li>
<li><strong>Your child is not enrolled in the class until payment is received.</strong></li>
<li>Returned checks are subject to a $25 handling fee.</li>
</ul>

<h3 id="attendance">Attendance</h3>

<ul>
<li>We teach at a fast pace and cover a great deal of material.  If your child misses a session, we will have handouts that cover the previous days' material,
but we will not be able to "catch them up".</li>
<li>Classes start promptly at the scheduled time.  Please try to be a few minutes early so that we can minimize disruptions.</li>
<li>For safety and liability reasons, parents must sign their children in and out of each class session. <i>(Not applicable to on-campus after school programs.)</i></li>
</ul>

<h3 id="conduct">Conduct</h3>

<p>We believe that every child deserves a fun and safe learning environment.  Courtesy and respect for fellow students, instructors, and other staff members
is expected from all participants.  Disruptive or unsafe behavior will result in the child being removed from class and the parent contacted.
<strong>No refunds will be granted for children removed from class for behavior problems.</strong></p>

<h3 id="refund-policy">Refund Policy</h3>

<p>You may request a refund up to the last business day before the start of class.  Refunds issued within seven (7) days of the scheduled first day of the
class will be subject to a $50 equipment fee.  We are unable to issue any refunds once the class session has begun.</p>

<h3 id="waiver-and">Waiver and Emergency Contact Form</h3>

<p>Upon confirmed payment, you will be provided with a Liability Waiver and Emergency Contact form.  Please complete and return by the first day of
class.</p>


    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}