{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="span1"></div>
        <div class="span10">
            <div class="row">
                <div class="span5">
                    <h2>Contact Us</h2>
                    <p><br>
                    <span class="label label-inverse">Note:</span><br>Online class signups are available <a href="http://kidscancode.org/signup.html">here</a>.<br>
                    If you have any questions about our classes or about what we do, please contact us.  We depend on feedback from parents and educators to help us deliver the best educational (and fun) experience possible.</p>
                    <hr>
                    <address>
                    <strong>KidsCanCode.org</strong><br>
                    North Hollywood, CA 91606<br>
                    </address>
                    <i class="icon-phone"></i> (818) 794-0522<br>
                    <a href="mailto: info@kidscancode.org"><i class="icon-envelope-alt"></i> info@kidscancode.org</a>

                </div>
                <div class="span5">
                    <script type="text/javascript" src="http://form.jotform.us/jsform/30926437672157"></script>
                </div>
            </div>
        </div>
        <div class="span1"></div>
    </row>
</div>
{% endblock content %}
