{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
<!--     <div class="span1"></div> -->
    <div class="span12">
    <h2>2014 Fall After School Schedule</h2>
        <p class="lead">
        It's Back to School time and we're happy to announce our schedule of Fall 2014 classes.<br> Act now - most classes <i>will</i> fill up.<br>
        </p>
        Click <a href="/classes.html">here</a> for a full description of each program.
        <br><br>
        <table class="table table-hover">
            <tr>
                <th>Class <span class="btn btn-success btn-mini">Click to sign up</span></th>
                <th>Ages</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Location (see below for details)</th>
            </tr>
            <tr>
                <td><a href="http://learnbeyondthebook.com/">Intro to Programming</a></td>
                <td>9-12</td>
                <td>Sep 2 - Dec 4 (TUESDAYS)</td>
                <td>9:30am - 11:00am</td>
                <td>Learn Beyond the Book (Santa Clarita)</td>
            </tr>
            <tr>
                <td><a href="http://learnbeyondthebook.com/">Intro to Programming</a></td>
                <td>12+</td>
                <td>Sep 2 - Dec 4 (TUESDAYS)</td>
                <td>11:00am - 12:30am</td>
                <td>Learn Beyond the Book (Santa Clarita)</td>
            </tr>
            <tr>
                <td><a href="/millikan">Intro to Programming</a></td>
                <td>11-16</td>
                <td>Sep 16 - Nov 4 (TUESDAYS)</td>
                <td>1:45pm - 2:45pm</td>
                <td>Millikan Middle School (Sherman Oaks)</td>
            </tr>
<!--             <tr>
                <td><a href="/millikan">Intro to Programming</a></td>
                <td>11-16</td>
                <td>Sep 16 - Nov 4 (TUESDAYS)</td>
                <td>3:30pm - 4:30pm</td>
                <td>Millikan Middle School (Sherman Oaks)</td>
            </tr> -->
            <tr>
                <td><a href="/reed.html">Intermediate Programming</a></td>
                <td>11-16</td>
                <td>Sep 10 - Oct 29 (WEDNESDAYS)</td>
                <td>3:10pm - 4:10pm</td>
                <td>Walter Reed Middle School (N. Hollywood/Studio City)</td>
            </tr>
            <tr>
                <td><a href="/sumac.html">Learn to Code with Scratch</a></td>
                <td>8-10</td>
                <td>TBD (THURSDAYS)</td>
                <td>TBD</td>
                <td>Sumac Elementary School (Agoura Hills)</td>
            </tr>

        </table>
        <br>
        <h2>Location Details</h2>
        <table class="table table-hover">
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Millikan Middle School</td>
                <td>5041 Sunnyslope Ave, Sherman Oaks, CA 91423 <a href="https://www.google.com/maps/place/Millikan+Middle+School/@34.1635404,-118.4285045,18z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Room 23</td>
            </tr>
            <tr>
                <td>Walter Reed Middle School</td>
                <td>4525 Irvine Ave., North Hollywood, CA 91602 <a href="https://www.google.com/maps/place/4525+Irvine+Ave,+North+Hollywood,+CA+91602/@34.152597,-118.386601,17z" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: TBD</td>
            </tr>
            <tr>
                <td>Sumac Elementary School</td>
                <td>6050 N. Calmfield Ave., Agoura Hills, CA 91301 <a href="https://www.google.com/maps/place/6050+Calmfield+Ave/@34.1604196,-118.7561078,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Computer Lab</td>
            </tr>
            <tr>
                <td>Learn Beyond the Book</td>
                <td>21704 Golden Triangle Road, Santa Clarita, CA 91350 <a href="https://www.google.com/maps/place/21704+Golden+Triangle+Rd,+Santa+Clarita,+CA+91350/@34.4139811,-118.5158704,17z" target ="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: TBD</td>
            </tr>
        </table>
    </div>
    <!-- <div class="span1"></div> -->
</div>
</div>
{% endblock content %}
