{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
<!--     <div class="span1"></div> -->
    <div class="span12">
    <h2>2015 Fall After School Schedule</h2>
        <p class="lead">
        During the school year, we find it most effective to offer classes on school campuses - it's more convenient for kids and for parents.  In most cases, classes are open to anyone - not just students at the hosting school.  For information on how to bring classes to <i>your</i> school, <a href="/contact.html"> contact us. </a><br><br>
        Act now - most classes <i>will</i> fill up.<br>
        </p>
        Click <a href="/classes.html">here</a> for a full description of each program.
        <br><br>
        <table class="table table-hover">
            <tr>
                <th>Class</th>
                <th>Ages</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>Learn to Code with Scratch</td>
                <td>7-10</td>
                <td>Sep 21 - Nov 9 (MONDAYS)</td>
                <td>4:00pm - 5:00pm</td>
                <td>Hillel Hebrew Academy (Beverly Hills)</td>
            <tr>
            <tr>
                <td>Intro to Programming</td>
                <td>9-12</td>
                <td>Sep 8 - Dec 15 (TUESDAYS)</td>
                <td>9:30am - 11:00am</td>
                <td><a href="http://learnbeyondthebook.com/">Learn Beyond the Book (Sherman Oaks)</a></td>
            </tr>
            <tr>
                <td>Intro to Programming </td>
                <td>11-14</td>
                <td>Sep 22 - Nov 10 (TUESDAYS)</td>
                <td>1:45pm - 2:45pm</td>
                <td>Millikan Middle School (Sherman Oaks) <a href="/millikan" class="btn btn-small btn-success">Sign Up</a></td>
            <tr>
                <td>Intro to Programming</td>
                <td>11-14</td>
                <td>TBD (WEDNESDAYS)</td>
                <td>TBD</td>
                <td>Rosemont Middle School (La Crescenta)</td>
            </tr>
            </tr>
            <tr>
                <td>Intro to Programming</td>
                <td>9-12</td>
                <td>Sep 10 - Dec 17 (THURSDAYS)</td>
                <td>9:30am - 11:00am</td>
                <td><a href="http://learnbeyondthebook.com/">Learn Beyond the Book (Santa Clarita)</a></td>
            </tr>
            <tr>
                <td>Intermediate Programming</td>
                <td>12+</td>
                <td>Sep 10 - Dec 17 (THURSDAYS)</td>
                <td>11:00am - 12:30am</td>
                <td><a href="http://learnbeyondthebook.com/">Learn Beyond the Book (Santa Clarita)</a></td>
            </tr>
            <tr>
                <td>Intro to Programming</td>
                <td>11-14</td>
                <td>TBD (THURSDAYS)</td>
                <td>3:35pm - 4:45pm</td>
                <td>St. Monica Catholic School (Santa Monica)</td>
            </tr>


        </table>
        <br>
        <!-- <h2>Location Details</h2>
        <table class="table table-hover">
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Valley International Prep</td>
                <td>14701 Friar Street, Van Nuys, CA 91411 <a href="https://www.google.com/maps/place/14701+Friar+St,+Van+Nuys,+CA+91411/@34.186082,-118.453497,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2970f10100de9:0xba01eb3426bd7df0" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Computer Lab</td>
            </tr>
            <tr>
                <td>Millikan Middle School</td>
                <td>5041 Sunnyslope Ave, Sherman Oaks, CA 91423 <a href="https://www.google.com/maps/place/Millikan+Middle+School/@34.1635404,-118.4285045,18z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Room 23</td>
            </tr>
            <tr>
                <td>Walter Reed Middle School</td>
                <td>4525 Irvine Ave., North Hollywood, CA 91602 <a href="https://www.google.com/maps/place/4525+Irvine+Ave,+North+Hollywood,+CA+91602/@34.152597,-118.386601,17z" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Room 151</td>
            </tr>
            <tr>
                <td>Monte Vista Elementary School</td>
                <td>2620 Orange Ave, La Crescenta, CA 91214 <a href="https://www.google.com/maps/place/Monte+Vista+Elementary+School/@34.230447,-118.235873,15z/data=!4m2!3m1!1s0x0:0x3ea9d853bc8d12d2?sa=X&ei=1w2GVJW9DonKoASksoKoCQ&ved=0CIIBEPwSMAo" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Computer Lab</td>
            </tr>
            <tr>
                <td>St. Monica Catholic School</td>
                <td>1030 Lincoln Blvd, Santa Monica, CA 90403 <a href="https://www.google.com/maps/place/Saint+Monica+Catholic+High+School/@34.0218449,-118.4926385,17z/data=!4m2!3m1!1s0x0:0xe74d9b5f69e2db3e" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: TBD</td>
            </tr>
            <tr>
                <td>Sumac Elementary School</td>
                <td>6050 N. Calmfield Ave., Agoura Hills, CA 91301 <a href="https://www.google.com/maps/place/6050+Calmfield+Ave/@34.1604196,-118.7561078,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: Computer Lab</td>
            </tr>
            <tr>
                <td>Learn Beyond the Book</td>
                <td>21704 Golden Triangle Road, Santa Clarita, CA 91350 <a href="https://www.google.com/maps/place/21704+Golden+Triangle+Rd,+Santa+Clarita,+CA+91350/@34.4139811,-118.5158704,17z" target ="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Location: TBD</td>
            </tr>
        </table> -->
    </div>
    <!-- <div class="span1"></div> -->
</div>
</div>
{% endblock content %}
