  {% extends "base.html" %}
  <!-- Static image replaces carousel
    <div class="row">
      <div class="span12">
        <img src="img/placeholder-medium.png" alt="" class="img-rounded">
      </div>
    </div>
-->

{% block content %}

<!-- Carousel
  ============================================ -->
<div class="container">
    <div class="row-fluid">
    <div class="span1"></div>
    <div class="span10">
        <!-- Alert banner -->
    <!-- <div class="alert alert-danger">
    <i class="icon-sun-o"></i>Summer Camps! Information blah blah blah.
    </div>-->
<div id="myCarousel" class="carousel slide">

  <div class="carousel-inner">
    <!-- <div class="item active">
      <img src="img/ks-promolg.png" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Kickstarter!</h1>
          <p class="lead">Check out our Kickstarter campaign and help create an ebook and course materials!</p>
          <a href="#" class="btn btn-medium btn-success">More</a>
        </div>
      </div>
    </div> -->
    <div class="item active">
      <img src="img/learn-collage.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Learn to Program!</h1>
          <p class="lead">It's fun and empowering - find out why every kid should learn to code.</p>
          <a href="whycode.html" class="btn btn-medium btn-success">Learn More</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/rpi.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Raspberry Pi</h1>
          <p class="lead">This exciting little computer enables all kinds of fun projects, and is a great platform for learning to code.</p>
          <a href="aboutpi.html" class="btn btn-medium btn-success">Learn More</a>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="img/classroom.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Summer Camps</h1>
          <p class="lead">Summer camp schedule coming soon. Classes available for all ages and skill levels.</p>
          <a href="contact.html" class="btn btn-medium btn-success">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div> <!-- /carousel -->
</div> <!-- /span10 -->
<div class="span1"></div>
</div> <!-- /row -->
</div>


<!-- Marketing messaging
  ===================================== -->
<div class="container marketing">
  <div class="row">
    <!-- 4 info boxes below the carousel -->
    <div class="span12">
        <div class="row">
          <div class="span3">
            <a href="whycode.html">
              <i class="icon-cogs icon-4x"></i>
              <h2>Why Teach Kids to Code?</h2>
            </a>
          </div>
          <div class="span3">
            <a href="classes.html">
              <i class="icon-lightbulb icon-4x"></i>
              <h2>What Do We Teach?</h2>
            </a>
          </div>
          <div class="span3">
            <a href="classes.html">
              <i class="icon-edit icon-4x"></i>
              <h2>Sign Up Now</h2>
            </a>
            <span class="badge badge-warning">Class Availability is Limited!</span>
          </div>
          <div class="span3">
            <a href="resources.html">
              <i class="icon-question-sign icon-4x"></i>
              <h2>Find Out  More</h2>
            </a>
          </div>
        </div>
<!--
        <div class="row">
          <div class="span3">
            <button class="btn btn-medium btn-success">Click Here</button>
          </div>
          <div class="span3">
            <button class="btn btn-medium btn-success">Click Here</button>
          </div>
          <div class="span3">
            <button class="btn btn-medium btn-success">Click Here</button>
          </div>
          <div class="span3">
            <button class="btn btn-medium btn-success">Click Here</button>
          </div>
        </div>
-->
    </div> <!-- /.span12 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->

<div class="container"><hr></div>

<!-- FEATURETTES
  ============================================== -->
<div class="container features">
  <div class="row">
    <div class="span12">&nbsp;</div>
      <div class="row">
        <div class="span1"></div>
        <div class="span10">
          <div class="row">
            <div class="span5">
              <h3>Bring Coding Classes to Your School</h3>
              <p class="feature-article"><p>We offer a variety of ways to enhance the technology education at your school while providing a safe, fun environment for learning:</p>

<ul>
<li>After school programs</li>
<li>In-class sessions</li>
<li>Weekend workshops</li>
</ul>

<p>We have coordinated with educators to ensure our subject matter and examples reinforce California Common Core standards appropriate to your child's grade level.  Additionally, we can work with your teachers to customize the classes to support their current lessons and classroom activities.</p>

<p>Our school programs can be hosted on your school's campus in a dedicated classroom - even if you don't have a computer lab!</p>

<p><strong>Contact us today to find out more!</strong><br>
              <a href="contact.html" class="btn btn-success">Click here</a></p>
            </div>
            <div class="span5">
              <h3>Our Mission</h3>
              <p class="feature-article">
              <blockquote class="pull-right">"Computer class" can't be about teaching kids to use today's software; it must be about teaching kids to make tomorrow's software.
                <small><cite>Douglas Rushkoff</cite></small></blockquote>
              Our goal is simply to teach children to code.  We believe that a basic understanding of software engineering provides a set of fundamental skills that is vital, both to the child's future and the future of the global economy.  It's not just about STEM (Science, Technology, Engineering, and Math), but also about liberal arts: being able to think critically about problems is the first step to finding solutions.  An early introduction to computer science is an investment in the future.</p>

            <p class="feature-article">We also support the use of free and open-source technologies that provide the widest availability and access to all students.  The technologies we use:</p>
            <div class="span2 pagination-centered"><a href="http://python.org/" target="_blank"><img src="img/python-logo-sm.png" alt=""></a>
                <h4>Python</h4></div>
            <div class="span2 pagination-centered"><a href="http://raspberrypi.org/" target="_blank"><img src="img/raspberry_pi-logo-sm.png" alt=""></a>
                <h4>Raspberry Pi</h4></div><br>
              <blockquote class="pull-right">I think everybody in this country should learn how to program a computer because it teaches you how to think.
                <small><cite>Steve Jobs</cite></small></blockquote>
            </div> <!-- /.span5 -->
          </div> <!-- /.row -->
        </div> <!-- /.span10 -->
        <div class="span1"></div>
      </div> <!-- /.row -->
    </div> <!-- /.span12 -->
  </div> <!-- /.row -->
</div> <!-- /.container features -->
{% endblock content %}
