{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10 reg-form">
<script type="text/javascript" src="https://secure.jotformpro.com/jsform/42296989073975"></script>pip3
<!-- <br>
<br>
<br>
<br>
<br>
We're sorry, but the maximum number of students has been reached for this class.  We are exploring the possibility of adding a second session.  If you'd like to be added to the waiting list, please <a href="/contact.html">contact us</a>.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->
    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}
