{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10 reg-form">
    <!-- <div class="alert alert-error"><p class="lead">
         <i class="icon-warning-sign icon-large"></i> <strong>Millikan Parents: </strong> Due to overwhelming interest, the first session of Intro to Programming is full.  However, we have been able to add a second class, which will also be held Tuesdays from Sep 22 - Nov 10 3:00pm-4:00pm (immediately after the first class).<br></p>
        </div> -->
<!-- <script type="text/javascript" src="https://form.jotform.com/jsform/52947112747965"></script> -->
<!-- old form: -->
<!-- <script type="text/javascript" src="https://secure.jotformpro.com/jsform/42296989073975"></script> -->
<br>
<br>
<br>
<br>
<br>
<p>We're sorry, but the maximum number of students has been reached for this class.  <br>
If you'd like to be added to the waiting list, please <a href="/contact.html">contact us</a>.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}
