{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10 reg-form">
<!--<script type="text/javascript" src="https://secure.jotformpro.com/jsform/33209395874969"></script>-->
<br>
<br>
<br>
<br>
<br>
Please register via the Reed After School Enrichment (RASE) program. If you have any questions, please <a href="contact.html">contact us</a>.
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}
