{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
        <h2>Resources</h2>
        <p>Want to learn more?  Use the links below for information and tutorials. </p>
        <h2>Helpful Links</h2>
        <dl class="dl-horizontal">
            <dt>Advocacy</dt>
            <dd>
                <ul>
                    <li><a href="http://code.org/">Code.org</a></li>
                    <li><a href="http://www.girlscouts.org/program/basics/science/">Girls in STEM (Girl Scouts)</a></li>
                    <li><a href="http://changetheequation.org/">Change the Equation</a></li>
                    <li><a href="http://vitalsigns.changetheequation.org/tcpdf/vitalsigns/newsletter.php?statename=California">California STEM Report Card</a></li>
                </ul>
            </dd>
            <br>
            <dt>Online Learning<br>Resources</dt>
            <dd><ul>
                <li><a href="http://python.org/">Python Home</a></li>
                <li><a href="http://khanacademy.org/">Khan Academy</a></li>
                <li><a href="http://www.codecademy.com/">Codeacademy</a> - Online tutorials in a variety of languages </li>
            </ul>
            </dd>
            <br>
            <dt>Python</dt>
            <dd><ul>
                <li><a href="http://python.org">Python Home</a></li>
                <li><a href="http://wiki.python.org/moin/BeginnersGuide">Beginner's Guide to Python</a></li>
                <li><a href="http://learnpythonthehardway.org/">Learn Python the Hard Way</a> - Don't let the name fool you, this is a great guide!</li>
                <li><a href="http://programarcadegames.com/">Program Arcade Games</a> - Learn to create games using Python!</li>
            </ul>
            </dd>
            <br>
            <dt>Raspberry Pi</dt>
            <dd><ul>
                <li><a href="http://raspberrypi.org/">Raspberry Pi Foundation</a></li>
                <li><a href="http://airpi.es/index.php">AirPi Project</a> - An automated air quality/weather monitoring device built from a Pi.</li>
                <li><a href="http://rasplex.com/">Rasplex</a> - Turn a Pi into a media player for your TV.</li>
                <li><a href="http://pi.minecraft.net/">Minecraft: Pi Edition</a> - A custom version of Minecraft that will teach you to program!</li>
            </ul>
            </dd>
            <br>
        </dl>

    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}