{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
    <h2 id="why-scratch">What is Scratch?</h2>
    <div class="pull-right thumb-with-caption"><a href="img/scratch1.png" target="_blank"><img src="img/scratch1.png" alt="" class="pull-right img-rounded" width="250"></a><p><small>The Scratch Main Window (click to zoom)</small></p></div>
    <p><a href="http://scratch.mit.edu/">Scratch</a> is a graphical educational programming environment
    specifically designed to teach programming concepts to younger children.  By clicking together Lego-like blocks, kids can build up sequences of instructions to create animations,
    games, interactive stories, simulations, and more.</p>

    <p>Scratch teaches many fundamental programming concepts such as iteration (looping), conditional statements, variables, threads, user interface design, event handling, and more.</p>

    <p>Click <a href="http://www.youtube.com/watch?v=ywG6lv9mFLI">here</a> for a great
    introductory video about what Scratch can do.</p>

    <h2 class="why-scratch">Why learn Scratch?</h2>


    <p>There a number of factors that make Scratch a great choice for younger children:</p>
<div class="pull-right thumb-with-caption"><img src="img/scratch2.png" alt="" class="pull-right img-rounded" width="250"><p><small>Example Scratch Code</small></p></div>
    <ul>
        <li><strong>Usability</strong> - For many younger children a visual, drag-and-drop interface is much easier to use than typing-heavy text programming languages.</li>
        <li><strong>Fun</strong> - Motivation is a key factor to learning new skills.  In a fun and interactive environment, children are self-motivated to learn in order to achieve their goals.</li>
        <li><strong>Creative</strong> - Scratch encourages creativity, both in coming up with ideas for projects, as well as finding ways to overcome difficulties.</li>
        <li><strong>Free</strong> - Scratch is 100% free and cross-platform.  Students can easily continue to use it on their own home computers.</li>
    </ul>

    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}
