{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
<!--     <div class="span1"></div> -->
    <div class="span12">
    <h2>2016 Summer Schedule </h2>
        <p class="lead">
        Learn to code and more! Act now - classes <i>will</i> fill up.<br><br>
        <strong>Tuition: </strong> $295 <br>
        </p>
        Click on the class title for a full description of each program.
        <br><p align="center"><a href="javascript:void( window.open('https://form.jotform.com/60518500424951', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))"><span class="btn btn-success btn-large">Sign Up Now!</span></a></p><br>
        <!-- <div class="alert alert-success"><p class="lead">
         <i class="icon-star-empty icon-large"></i> <strong>We're working to add more classes soon. </strong><a href="/contact.html">Contact us</a> to see about bringing a class to your area. <i class="icon-star-empty icon-large"></i></p>
    </div> -->
        <table class="table table-hover">
            <tr>
                <th>Class Name</th>
                <th>Ages</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Location (see below for details)</th>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a> <span class="badge badge-success">SOLD OUT</span></td>
                <td>8-10 (Beginner)</td>
                <td>June 13 - June 17</td>
                <td>9am - 12pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>June 13 - June 17</td>
                <td>1pm - 4pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#scratch">Learn to Program with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>June 20 - June 24</td>
                <td>9am - 12pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#gamedev">Game Development and Design</a></td>
                <td>11-16 (Intermediate)</td>
                <td>June 20 - June 24</td>
                <td>1pm - 4pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/buildcamp">Design and Build Camp: 3D Printing</a> <span class="badge badge-success">SOLD OUT</span></td>
                <td>12+ (Beginner)</td>
                <td>July 11 - July 15</td>
                <td>9:30am - 12pm</td>
                <td>Sherman Oaks (SLAM Makerspace)</td>
            </tr>
            <tr>
                <td><a href="/buildcamp">Design and Build Camp: Electronics</a>  <span class="badge badge-success">SOLD OUT</span></i></td>
                <td>12+ (Beginner)</td>
                <td>July 11 - July 15</td>
                <td>1pm - 3:30pm</td>
                <td>Sherman Oaks (SLAM Makerspace)</td>
            </tr>
            <tr>
                <td><a href="/buildcamp">Design and Build Camp: Electronics</a></i></td>
                <td>12+ (Beginner)</td>
                <td>July 18 - July 22</td>
                <td>9:30am - 12pm</td>
                <td>Sherman Oaks (SLAM Makerspace)</td>
            </tr>
            <tr>
                <td><a href="/buildcamp">Design and Build Camp: 3D Printing</a></td>
                <td>12+ (Beginner)</td>
                <td>July 18 - July 22</td>
                <td>1pm - 3:30pm</td>
                <td>Sherman Oaks (SLAM Makerspace)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#scratch">Learn to Code with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>July 25 - July 29</td>
                <td>9am - 12pm</td>
                <td>Calabasas (Viewpoint School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 25 - July 29</td>
                <td>1pm - 4pm</td>
                <td>Calabasas (Viewpoint School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>Aug 1 - Aug 5</td>
                <td>9am - 12pm</td>
                <td>Pasadena (Neighborhood Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#gamedev">Game Development and Design</a></td>
                <td>11-16 (Intermediate)</td>
                <td>Aug 1 - Aug 5</td>
                <td>1pm - 4pm</td>
                <td>Pasadena (Neighborhood Church)</td>
            </tr>
        </table>
        <br><p align="center"><a href="javascript:void( window.open('https://form.jotform.com/60518500424951', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))"><span class="btn btn-success btn-large">Sign Up Now!</span></a></p><br>
        <!-- <p><i class="icon-info-sign"></i> <i>All students will receive an Arduino Starter Kit to take home.</i></p> -->
        <!-- <p><i class="icon-flag"></i> <i>Program is in partnership with Robotics & Things.  Details and registration at <a href="http://www.roboticsandthings.com/" target="_blank">roboticsandthings.com</a>.</i></p><br> -->
        <h2>Location Details</h2>
        <table class="table table-hover">
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Millikan Middle School</td>
                <td><a href="https://www.google.com/maps/place/Millikan+Middle+School/@34.1635404,-118.4285045,18z/" target="_blank"><i class="fa fa-map-marker fa-lg"></i></a> 5041 Sunnyslope Ave, Sherman Oaks, CA 91423</td>
                <td>Room 23</td>
            </tr>
            <tr>
                <td>SLAM Makerspace & Tutoring Center</td>
                <td><a href="https://goo.gl/maps/3pJNwd2DYYU2" target="_blank"><i class="fa fa-map-marker fa-lg"></i></a> 14332 Ventura Blvd, Sherman Oaks, CA 91423</td>
                <td> </td>
            </tr>
            <tr>
                <td>Neighborhood Unitarian Universalist Church of Pasadena</td>
                <td><a href="https://www.google.com/maps/place/301+N+Orange+Grove+Blvd/@34.1502908,-118.1610708,17z/" target="_blank"><i class="fa fa-map-marker fa-lg"></i></a> 301 N. Orange Grove Blvd, Pasadena, CA 91103</td>
                <td>Room 2</td>
            </tr>
        </table>
    </div>
    <!-- <div class="span1"></div> -->
</div>
</div>
{% endblock content %}
