{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
<!--     <div class="span1"></div> -->
    <div class="span12">
    <h2>2017 Summer Schedule </h2>
        <p class="lead">
        Learn to code and more this summer! Reserve your spot now - classes <i>will</i> fill up.<br><br>
        <strong>Tuition: </strong> $295 <br>
        </p>
        All classes are half-day programs, unless otherwised noted.  Click on the class title for a full description of each program.  Sibling and multiple-class discounts available - <a href="/contact.html">contact us</a> for details.<br>
        <br><p align="center"><a href="javascript:void( window.open('https://form.jotform.com/70426476202148', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))"><span class="btn btn-success btn-large">Sign Up Now!</span></a></p><br>
        <!-- <div class="alert alert-success"><p class="lead">
         <i class="icon-star-empty icon-large"></i> <strong>We're working to add more classes soon. </strong><a href="/contact.html">Contact us</a> to see about bringing a class to your area. <i class="icon-star-empty icon-large"></i></p>
        </div> -->
    <!-- <span class="badge badge-success">SOLD OUT</span> -->
        <table class="table table-hover">
            <tr>
                <th>Class Name</th>
                <th>Ages</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Location (see below for details)</th>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>8-10 (Beginner)</td>
                <td>June 12 - June 16</td>
                <td>9am - 12pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>June 12 - June 16</td>
                <td>1pm - 4pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#python_intermed">Intermediate Python</a> </td>
                <td>11-16 (Some Experience)</td>
                <td>June 19 - June 23</td>
                <td>9am - 12pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#gamedev">Game Development/Design (Intensive)</a></td>
                <td>11-16 (Some Experience)</td>
                <td>June 19 - June 23</td>
                <td>1pm - 4pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>10+ (Beginner)</td>
                <td>July 10 - July 14</td>
                <td>9am - 12pm</td>
                <td>Santa Clarita (Learn Beyond the Book)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">3D Printing and Design</a></td>
                <td>9-12 (Beginner)</td>
                <td>July 10 - July 14</td>
                <td>1pm - 4pm</td>
                <td>Santa Clarita (Learn Beyond the Book)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#python_intermed">Intermediate Python</a> </td>
                <td>10+ (Experienced)</td>
                <td>July 17 - July 21</td>
                <td>9am - 12pm</td>
                <td>Santa Clarita (Learn Beyond the Book)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">3D Printing and Design</a></td>
                <td>12+ (Beginner)</td>
                <td>July 17 - July 21</td>
                <td>1pm - 4pm</td>
                <td>Santa Clarita (Learn Beyond the Book)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>8-10 (Beginner)</td>
                <td>July 24 - July 28</td>
                <td>9am - 12pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 24 - July 28</td>
                <td>1pm - 4pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#python_intermed">Intermediate Python</a> </td>
                <td>8-10 (Beginner)</td>
                <td>July 31 - Aug 4</td>
                <td>9am - 12pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#gamedev">Game Development/Design (Intensive)</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 31 - Aug 4</td>
                <td>1pm - 4pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>

        </table>
        <br><p align="center"><a href="javascript:void( window.open('https://form.jotform.com/70426476202148', 'blank','scrollbars=yes,toolbar=no,width=700,height=500'))"><span class="btn btn-success btn-large">Sign Up Now!</span></a></p><br>
        <div class="alert alert-success"><p class="lead" align="center">
         <i class="icon-star-empty icon-large"></i> <strong>Don't see a class near you? </strong><a href="/contact.html">Contact us</a> to see about bringing a class to your area. <i class="icon-star-empty icon-large"></i></p>
        </div>
        <h2>Location Details</h2>
        <table class="table table-hover">
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Millikan Middle School</td>
                <td><a href="https://www.google.com/maps/place/Millikan+Middle+School/@34.1635404,-118.4285045,18z/" target="_blank"><i class="fa fa-map-marker fa-lg"></i></a> 5041 Sunnyslope Ave, Sherman Oaks, CA 91423</td>
                <td>Room TBD</td>
            </tr>
            <tr>
                <td>Learn Beyond the Book</td>
                <td><a href="https://goo.gl/maps/fRriymNAbRz" target="_blank"><i class="fa fa-map-marker fa-lg"></i></a> 21704 Golden Triangle Road #500, Santa Clarita, CA 91350</td>
                <td>Room TBD</td>
            </tr>
            <tr>
                <td>Neighborhood Unitarian Universalist Church of Pasadena</td>
                <td><a href="https://www.google.com/maps/place/301+N+Orange+Grove+Blvd/@34.1502908,-118.1610708,17z/" target="_blank"><i class="fa fa-map-marker fa-lg"></i></a> 301 N. Orange Grove Blvd, Pasadena, CA 91103</td>
                <td>Room TBD</td>
            </tr>
        </table>
    </div>
    <!-- <div class="span1"></div> -->
</div>
</div>
{% endblock content %}
