{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
<!--     <div class="span1"></div> -->
    <div class="span12">
    <h2>2014 Summer Day Camp Schedule <a href="/signup.html"><span class="btn btn-success btn-large">Sign Up Now!</span></a></h2>
        <p class="lead">
        Summer is here, but a limited number of spaces are still available! Act now - most classes <i>will</i> fill up.<br><br>
        <strong>Tuition: </strong> $335 <br>
        </p>
        Click on the class title for a full description of each program.
        <br><br>
        <table class="table table-hover">
            <tr>
                <th>Class <i class="icon-info-sign"></i></th>
                <th>Ages</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Location (see below for details)</th>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Programming with Minecraft and Raspberry Pi</a> <i class="icon-star"></i></td>
                <td>11-16 (Beginner)</td>
                <td>June 9 - June 13</td>
                <td>9am - 12pm</td>
                <td>Millikan Middle School (Sherman Oaks)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#scratch">Learn to Program with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>June 9 - June 13</td>
                <td>1pm - 4pm</td>
                <td>Millikan Middle School (Sherman Oaks)</td>
            </tr>
            <tr class="info">
                <td>Week of Technology (Robotics and Programming)</i> <i class="icon-flag"></i></td>
                <td>8-12 (Beginner)</td>
                <td>June 23 - June 27</td>
                <td>9am - 4pm</td>
                <td>Sumac Elementary (Agoura Hills)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 7 - July 11</td>
                <td>9am - 12pm</td>
                <td>Neighborhood Unitarian Church (Pasadena)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#scratch">Learn to Program with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>July 7 - July 11</td>
                <td>1pm - 4pm</td>
                <td>Neighborhood Unitarian Church (Pasadena)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 14 - July 18</td>
                <td>1pm - 4pm</td>
                <td>Church of the Chimes (Sherman Oaks)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 21 - July 25</td>
                <td>9am - 12pm</td>
                <td>Unitarian Universalist Church (Santa Monica)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Learn to Program with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>July 21 - July 25</td>
                <td>1pm - 4pm</td>
                <td>Unitarian Universalist Church (Santa Monica)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming with Raspberry Pi</a> <i class="icon-star"></i></td>
                <td>11-16 (Beginner)</td>
                <td>July 28 - Aug 1</td>
                <td>9am - 12pm</td>
                <td>Millikan Middle School (Sherman Oaks)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#gamedev">Game Development and Design</a> <i class="icon-star"></i></td>
                <td>11-16 (Intermediate)</td>
                <td>July 28 - Aug 1</td>
                <td>1pm - 4pm</td>
                <td>Millikan Middle School (Sherman Oaks)</td>
            </tr>
        </table>
        <p><i class="icon-info-sign"></i> <i>All students receive a "Coder's Kit" including Completion Certificate, USB key with software and resources, and "Where to go next" pointers to keep their coding skills growing.</i></p>
        <p><i class="icon-star"></i> <i>Program is based on Raspberry Pi.  See <a href="/aboutpi.html">here</a> for details.</i></p>
        <p><i class="icon-flag"></i> <i>Program is in partnership with Robotics & Things.  Details and registration at <a href="http://www.roboticsandthings.com/shop/camp-3-sumac-elementary-agoura-hills-1-week/" target="_blank">roboticsandthings.com</a>.</i></p><br>
        <h2>Location Details</h2>
        <table class="table table-hover">
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Millikan Middle School</td>
                <td>5041 Sunnyslope Ave, Sherman Oaks, CA 91423 <a href="https://www.google.com/maps/place/Millikan+Middle+School/@34.1635404,-118.4285045,18z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Room 47</td>
            </tr>
            <tr>
                <td>Sumac Elementary School</td>
                <td>6050 N. Calmfield Ave., Agoura Hills, CA 91301 <a href="https://www.google.com/maps/place/6050+Calmfield+Ave/@34.1604196,-118.7561078,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Class held in Multipurpose Room</td>
            </tr>
            <tr>
                <td>Unitarian Universalist Community Church of Santa Monica</td>
                <td>1260 18th St, Santa Monica, CA 90404 <a href="https://www.google.com/maps/place/1260+18th+St/@34.0286126,-118.4836726,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Room number TBD</td>
            </tr>
            <tr>
                <td>Neighborhood Unitarian Universalist Church of Pasadena</td>
                <td>301 N. Orange Grove Blvd, Pasadena, CA 91103 <a href="https://www.google.com/maps/place/301+N+Orange+Grove+Blvd/@34.1502908,-118.1610708,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Room 25</td>
            </tr>
            <tr>
                <td>Congregational Church of the Chimes</td>
                <td>14115 Magnolia Boulevard Sherman Oaks, CA 91423 <a href="https://www.google.com/maps/place/14115+Magnolia+Blvd/@34.165771,-118.440588,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Room number TBD</td>
            </tr>
        </table>
    </div>
    <!-- <div class="span1"></div> -->
</div>
</div>
{% endblock content %}
