{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="row">
<!--     <div class="span1"></div> -->
    <div class="span12">
    <h2>2015 Summer Day Camp Schedule </h2>
        <p class="lead">
        Learn to code this summer! Classes available for all age ranges. Act now - most classes <i>will</i> fill up.<br><br>
        <strong>Tuition: </strong> $295 <br>
        </p>
        Click on the class title for a full description of each program.
        <br><p align="center"><a href="/signup.html"><span class="btn btn-success btn-large">Sign Up Now!</span></a></p><br>
        <div class="alert alert-success"><p class="lead">
         <i class="icon-star-empty icon-large"></i> <strong>We're working to add more classes soon. </strong><a href="/contact.html">Contact us</a> to see about bringing a class to your area. <i class="icon-star-empty icon-large"></i></p>
    </div>
        <table class="table table-hover">
            <tr>
                <th>Class <i class="icon-info-sign"></i></th>
                <th>Ages</th>
                <th>Dates</th>
                <th>Time</th>
                <th>Location (see below for details)</th>
            </tr>
            <tr>
                <td><a href="/classes.html#scratch">Learn to Program with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>June 8 - June 12</td>
                <td>9am - 12pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>June 8 - June 12</td>
                <td>1pm - 4pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>June 15 - June 19</td>
                <td>9am - 12pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#gamedev">Game Development and Design</a></td>
                <td>11-16 (Intermediate)</td>
                <td>June 15 - June 19</td>
                <td>1pm - 4pm</td>
                <td>Sherman Oaks (Millikan Middle School)</td>
            </tr>
            <tr>
                <td>Week of Technology (Robotics and Programming)</i> <i class="icon-flag"></i></td>
                <td>8-16 (Beginner)</td>
                <td>July 6 - July 10</td>
                <td>9am - 4pm</td>
                <td>Agoura Hills (Homewood Suites)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#scratch">Learn to Program with Scratch</a></td>
                <td>8-10 (Beginner)</td>
                <td>July 13 - July 17</td>
                <td>9am - 12pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 13 - July 17</td>
                <td>1pm - 4pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Intro to Programming</a></td>
                <td>11-16 (Beginner)</td>
                <td>July 20 - July 24</td>
                <td>9am - 12pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td><a href="/classes.html#intro2prog">Game Development and Design</a></td>
                <td>11-16 (Intermediate)</td>
                <td>July 20 - July 24</td>
                <td>1pm - 4pm</td>
                <td>Pasadena (Neighborhood Unitarian Church)</td>
            </tr>
            <tr>
                <td>Week of Technology (Robotics and Programming)</i> <i class="icon-flag"></i></td>
                <td>8-16 (Beginner)</td>
                <td>Aug 3 - Aug 7</td>
                <td>9am - 4pm</td>
                <td>Agoura Hills (Homewood Suites)</td>
            </tr>
        </table>
        <br><p align="center"><a href="/signup.html"><span class="btn btn-success btn-large">Sign Up Now!</span></a></p><br>
        <p><i class="icon-info-sign"></i> <i>All students will receive "Where to go next" pointers to keep their coding skills growing.</i></p>
        <p><i class="icon-flag"></i> <i>Program is in partnership with Robotics & Things.  Details and registration at <a href="http://www.roboticsandthings.com/" target="_blank">roboticsandthings.com</a>.</i></p><br>
        <h2>Location Details</h2>
        <table class="table table-hover">
            <tr>
                <th>Location</th>
                <th>Address</th>
                <th>Notes</th>
            </tr>
            <tr>
                <td>Millikan Middle School</td>
                <td>5041 Sunnyslope Ave, Sherman Oaks, CA 91423 <a href="https://www.google.com/maps/place/Millikan+Middle+School/@34.1635404,-118.4285045,18z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Room 47</td>
            </tr>
            <tr>
                <td>Neighborhood Unitarian Universalist Church of Pasadena</td>
                <td>301 N. Orange Grove Blvd, Pasadena, CA 91103 <a href="https://www.google.com/maps/place/301+N+Orange+Grove+Blvd/@34.1502908,-118.1610708,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Room 2</td>
            </tr>
            <tr>
                <td>Homewood Suites</td>
                <td>28901 Canwood Street, Agoura Hills, California 91301 <a href="https://www.google.com/maps/place/28901+Canwood+St,+Agoura+Hills,+CA+91301/@34.146279,-118.755412,17z/" target="_blank"><i class="icon-map-marker"></i></a></td>
                <td>Meeting Room</td>
            </tr>
        </table>
    </div>
    <!-- <div class="span1"></div> -->
</div>
</div>
{% endblock content %}
