{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
    <h2>Thanks for signing up!</h2>
    <p>We're excited to have your child onboard for this exciting educational opportunity.  Remember, your child's space is not reserved until payment is received.  We will contact you at the email/phone provided with any payment issues.<br>
        If you have any questions or concerns prior to the beginning of your class session, please don't hesitate to <a href="contact.html">contact us</a>.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="span1"></div>
</div>
</div>
// Facebook ad tracking pixel
<script type="text/javascript">
var fb_param = {};
fb_param.pixel_id = '6006110978493';
fb_param.value = '0.00';
(function(){
  var fpw = document.createElement('script');
  fpw.async = true;
  fpw.src = '//connect.facebook.net/en_US/fp.js';
  var ref = document.getElementsByTagName('script')[0];
  ref.parentNode.insertBefore(fpw, ref);
})();
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6006110978493&amp;value=0" /></noscript>
{% endblock content %}