{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="row">
    <div class="span1"></div>
    <div class="span10">
    <h2>Thanks for signing up!</h2>
    <p>We're excited to have your child onboard for this exciting educational opportunity.  Remember, your child's space is not reserved until payment is received.  We will contact you at the email/phone provided with any payment issues.<br>
        If you have any questions or concerns prior to the beginning of your class session, please don't hesitate to <a href="contact.html">contact us</a>.</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="span1"></div>
</div>
</div>
{% endblock content %}