{% extends "base.html" %}

{% block content %}

<div class="container">

<!-- Static image replaces carousel -->
    <div class="row">
        <div class="span1"></div>
      <div class="span10">
        <img src="img/img_code.jpg" alt="" class="img-rounded">
      </div>
      <div class="span1"></div>
    </div>

  <div class="row">
    <div class="span1"></div>
    <div class="span10">
      <!-- begin Markdown output -->
      <h2 id="benefits-of-learning-programming">Benefits of learning programming</h2>

<p>We are surrounded by technology, and every single piece of technology, from your smartphone to the car you drive, is controlled by software that was written by programmers.  Learning about programming helps you learn about how computers work.</p>

<p>Learning programming skills, even at the elementary school level, can have numerous benefits:</p>

<ul>
<li>It teaches about problem solving (algorithmic thinking)</li>
<li>It's cross-curricular (solve math problems or create an art project)</li>
<li>It generates early interest in Computer Science</li>
<li>It stimulates design &amp; creativity</li>
<li>It strengthens math skills</li>
</ul>

<h2 id="why-python">Why Python?</h2>

<p>Python is a fully featured modern programming language that places an emphasis on writing code that is easy to read.  As such, it has gained a strong following in educational circles as a first language for computer science courses.</p>

<p>A summary of Python's benefits:</p>

<ul>
<li>It's Multi-platform - runs on all popular computing platforms.
<ul>
<li>If you're running Linux or OS X it's already installed!</li>
</ul></li>
<li>It has wide global industry support.
<ul>
<li>Python is used at YouTube, NASA, Google, and many more large organizations you've heard of.</li>
</ul></li>
<li>Clean and simple syntax.
<ul>
<li>Python programs are easy to read.  Compare the following examples from popular programming languages, which print "Hello World" to the screen:<br><br>
        <strong>Java:</strong>
        <div class="row">
        <div class="span5 syntax"><pre><span class="kd">public</span> <span class="kd">class</span> <span class="nc">HelloWorld</span> <span class="o">{</span>
    <span class="kd">public</span> <span class="kd">static</span> <span class="kt">void</span> <span class="nf">main</span><span class="o">(</span><span class="n">String</span><span class="o">[]</span> <span class="n">args</span><span class="o">)</span> <span class="o">{</span>
        <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">println</span><span class="o">(</span><span class="s">&quot;Hello, world!&quot;</span><span class="o">);</span>
    <span class="o">}</span>
<span class="o">}</span></pre></div>
        <div class="span5"></div>
        </div><br>
        <strong>C:</strong>
        <div class="row">
            <div class="span5 syntax">
                <pre><span class="cp">#include &lt;stdio.h&gt;</span>
<span class="cp">#include &lt;stdlib.h&gt;</span>

<span class="kt">int</span> <span class="nf">main</span><span class="p">(</span><span class="kt">void</span><span class="p">)</span>
<span class="p">{</span>
    <span class="n">puts</span><span class="p">(</span><span class="s">&quot;Hello World!&quot;</span><span class="p">);</span>
    <span class="k">return</span> <span class="n">EXIT_SUCCESS</span><span class="p">;</span>
<span class="p">}</span></pre>
            </div>
            <div class="span5"></div>
        </div><br>
        <strong>Python:</strong>
        <div class="row">
            <div class="span5 syntax"><pre><span class="k">print</span> <span class="s">&quot;Hello World&quot;</span></pre></div>
            <div class="span5"></div>
        </div>
        Python is designed to be as close to readable English as possible.
</li><br>
<li>This lets students focus on learning skills (decomposition, algorithms) without struggling with complicated syntax or confusing formatting.</li>
</ul></li>
<li>General purpose - it can be applied to many different types of problems, from science to math to gaming and graphics.</li>
<li>Because of this, many colleges, such as MIT and , have adopted Python for their introductory computer science classes.</li>
</ul>


      <!-- End Markdown output -->

    </div> <!-- /.span10 -->
    <div class="span1"></div>
  </div> <!-- /.row -->
</div> <!-- /.container features -->
{% endblock content %}
